input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  font-size: 80%;
  @media (min-width: 768px) {
    margin-left: 1rem;
  }
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  background: #dbd7d7
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
input[type="search"]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66cc75;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #7d7d7d;
}
input::-webkit-input-placeholder {
  color: #7d7d7d;
}

/* ID search-movie */
#search-movie input[type="search"] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#search-movie input[type="search"]:hover {
  background-color: #dbd7d7;
}
#search-movie input[type="search"]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #dbd7d7;
  cursor: auto;
}
#search-movie input:-moz-placeholder {
  color: transparent;
}
#search-movie input::-webkit-input-placeholder {
  color: transparent;
}
